*{
    margin: 0px;
    padding: 0px;
}


nav{
    font-size: 1.8rem;
    background-color: lightblue;
    position: fixed;
    width: 100%;
    z-index: 1;

}
nav ul li{
    display: inline-block;
    padding: 10px 10px;
}

li:last-child{
    position: absolute;
    right: 20px;
}
.button{
  padding:10px;
  border-radius: 10px;
}
.btn:hover{
    letter-spacing: .2rem;
}
.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
